@import url('reset.css');

@font-face {
  font-family: Barrio-Regular;
  src: url('./asset/resource/Barrio-Regular.ttf');
}

:root {
  --primary-color: rgb(248, 248, 225);
  --secondary-color: rgb(255, 193, 218);
  --third-color: rgb(255, 144, 187);
  --fourth-color: rgb(138, 204, 213);
}

body {
  font-family: Barrio-Regular, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  width: 100%;
  height: 10dvh;
  background-color: var(--third-color);
  padding: 1rem;
  color: var(--primary-color);
  display: flex;
  justify-content: space-around;
}

header > nav {
  display: flex;
  gap: 1rem;
}

header > nav > button {
  font-size: 1.3rem;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
}

#content {
  width: 100%;
  height: 90dvh;
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#headline {
  width: 20ch;
  font-size: 3rem;
  color: var(--fourth-color);
}

.left-container,
.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner-image {
  width: calc(50% + 20px);
  height: calc(50% + 10px);
  border-radius: 100%;
}
